{% extends "base.html" %}

{% block Course %}
    <li class="nav-item has-treeview">
        <a href="#" class="nav-link">
            <i class="nav-icon fas fa-table"></i>
            <p>
                Courses
                <i class="fas fa-angle-left right"></i>
            </p>
        </a>
        {% if perms.courses.add_course %}
            <ul class="nav nav-treeview">
                <li class="nav-item">
                    <a href={% url 'courses:course-new' %} class="nav-link">
                        <i class="far fa-circle nav-icon"></i>
                        <p>Add New Course</p>
                    </a>
                </li>
            </ul>
        {% endif %}
        {% if perms.courses.can_list_courses %}
            <ul class="nav nav-treeview">
                <li class="nav-item">
                    <a href={% url 'courses:list_courses' %} class="nav-link">
                        <i class="far fa-circle nav-icon"></i>
                        <p>List/Search Courses</p>
                    </a>
                </li>
            </ul>
        {% endif %}
    </li>
{% endblock %}

{% block content %}
    <h1>Title: {{ user.first_name }}</h1>

    <p><strong>First Name:</strong> <a href="">{{ employee.first_name }}</a></p>
    <!-- author detail link not yet defined -->
    <p><strong>Last Name:</strong> {{ employee.last_name }}</p>
    <p><strong>Department:</strong> {{ employee.department }}</p>
    <p><strong>Role:</strong> {{ employee.role }}</p>

{% endblock %}