{% extends "base.html" %}
{% load static %}

{% block title %}Add Contract{% endblock %}
{% block content %}
<div class="card card-primary">
    <div class="card-header">
        <h3 class="card-title">Add Contract</h3>
    </div>
    <form id="contract_form" method="post" action="{% url 'wiawdp:add_contract' %}">
        <div class="card-body">
            {% csrf_token %}
            {{ form.as_p }}
        </div>
        <div class="card-footer">
            <input class="btn btn-primary" type="submit" name="submit" value="Add Contract">
        </div>
    </form>
</div>
{% endblock content %}