{% extends "base.html" %}
{% load static %}

{% block title %}Add Contract{% endblock %}
{% block content %}
<div class="card card-primary">
    <div class="card-header">
        <h3 class="card-title">Modify Contract</h3>
    </div>
    <form method="post">
        <div class="card-body">
            <div class="row">
                <strong>Contract Number: </strong>{{ object.pk }}
            </div>
            <div class="row">
                <strong>Client: </strong>{{ object.client.full_name }}
            </div>

            {% csrf_token %}
            {{ form.as_p }}
        </div>
        <div class="card-footer">
            <input class="btn btn-primary" type="submit" name="submit" value="Save Changes">
        </div>
    </form>
</div>
{% endblock content %}