{% extends "base.html" %}
{% load static %}

{% block title %}View Programs{% endblock %}
{% block content %}
<div class="card">
    <table class="table">
        <thead>
        <tr>
            <th>Career Pathway</th>
            <th>CIP Code</th>
            <th>Program Title</th>
            <th>Location</th>
            <th>Date Approved</th>
        </tr>
        </thead>
        {% for pathway in pathways %}
        <tr>
            <td>{{ pathway.career_pathway }}</td>
            <td>{{ pathway.cip_code }}</td>
            <td>{{ pathway.program_title }}</td>
            <td>{{ pathway.location }}</td>
            <td>{{ pathway.date_approved }}</td>
        </tr>
        {% endfor %}
    </table>
</div>
{% endblock content %}