{% extends "base.html" %}
{% load static %}

{% block title%}Start One Schedule{% endblock %}

{% block content %}
    <div class="content-wrapper">
        <h1 class="card-header"> Start One Schedule </h1>
        <p>
            This page is not active on this build, if you would like to add schedule to test <a href="/schedule/pendinglist">Pending Schedule</a> or <a href="/schedule/schedulelist">Schedule List</a> please do so through
            <a href="/admin">django admin</a>
        </p>
    </div>
{% endblock %}